[Desktop Entry]
Name=Git Master
Comment=Git repository browser
Exec=gitmaster
Terminal=false
Type=Application
Icon=io.github.bokic.gitmaster
Categories=Development;
