[Desktop Entry]
Name=Git Master
Comment=Git repository browser
Exec=gitmaster
Terminal=false
Type=Application
Icon=org.gitmaster.GitMaster
Categories=Development;
